body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  line-height: 21px;
  background-image: url(/images/yelp_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  color: #000068;  
}

html, body {
  height: 100%;
}

header {  
  height: 40px;
  background:rgba(0,0,0,0.6);
  color: white;
  display: flex;
  padding: 0 20px;
}

header > * {
  margin: auto 0;
}

header a {
  color: white;
}
